# OS
.DS_Store

# Applications & Tools
node_modules
/.ddev
/node_modules
/.vscode
/vendor
/views
/web/sites/*/*settings.php
/web/sites/*/*services.yml
/web/sites/*/settings.php
/web/sites/*/services.yml
/web/sites/*/files
/web/sites/*/private
/web/sites/default/files
