     <section class="container-px py-[clamp(70px,6vw,170px)] max-w-[1920px] mx-auto w-full flex gap-12 justify-between flex-col xl:flex-row bg-secondary bg-gradient-to-t from-primary/30 via-primary/20 to-primary/10 ">
            <div class="Title text-left  text-text/70 ">
                <h2 class="text-h2 font-instrument">{{ title }}</h2>
            </div>
            <!-- faq's -->
            <div class="wrapper flex flex-col gap-12 xl:w-1/2  ">
                <div class="wrapper_accordion  flex flex-col gap-2.5 w-full">
                    <!-- FAQ ITEM 1 -->
                    {{ content }}
                </div>
            </div>
        </section>